
<%
  ## Checking if these are set to display info.
  ## This was added for the GeneDiseaseDup
  if !@validityTriggeredFirst.present?
    @validityTriggeredFirst = @diseases_detail[disease.iri]
  else
    @validityTriggeredFirst = false
  end

  

  if @dosage_detail[disease.iri] || (@actionability.length > 0 && @actionability_diseases.include?(disease.iri)) || (@diseases_detail[disease.iri])
%>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="heading<%= index %>">
      <h3 class="panel-title">
        <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
            <i> <%= @gene.symbol %> </i> - <%= disease.label %>
        </a>
        -->
          <i> <%= @gene.symbol %> </i> - <%= link_to disease, :class => "text-black"  do %>
            <%= disease.label %>
            <span class='text-10px'>| <%= disease.curie.gsub '_', ':'  %></span>
          <% end %>
      </h3>
    </div>
    <div id="collapse<%= index %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= index %>">
        <table class="panel-body table table-hover">
          <thead class="thead-labels">
            <tr>
              <th class="col-sm-3 th-curation-group text-left">Curated by</th>
              <th class="col-sm-6 text-left"> Classification</th>
              <th class="col-sm-2 text-center">Date</th>
              <th class="col-sm-1 text-center">Report</th>
            </tr>
          </thead>
        <!-- <% if @diseases_detail[disease.iri] %>
          <%= render "gene_disease_assertions/validity_detail_wide", assertions: @diseases_detail[disease.iri], disease: disease, gene: @gene %>
        <% end %> -->
        <% if @diseases_detail[disease.iri] %>
          <%= render "gene_disease_assertions/validity_detail_wide", assertions: @validity, disease: disease, gene: @gene %>
        <% end %>
        <% if @dosage_detail[disease.iri] %>
          <%= render "gene_dosage/dosage_detail_wide", dosage: @dosage_detail[disease.iri] %>
        <% end %>
        <% if @gql_actionability[disease.iri] %>
			<% @gql_actionability[disease.iri].each do |key, value| %>
				<%= render 'actionability_assertions/expand_actionability_row', assertion: value%>
			<% end %>
        <% end %>
        </table>
    </div>
  </div>
<% end %>
