<% 

  ## This was added for the GeneDiseaseDup
  interp = assertions.interpretation.first 
%>


        
        

  <tbody>
    <tr>
      <td>
        <%= info_popover("gene-curation", "help", "" ,"logo-inline") %>
      </td>
      <td colspan="3" class='pt-1'>
        <table class='row w-100 p-0'>
          <% @validity.each do |assertion| %>
          <% if assertion.diseases.first.iri.hash == disease.iri.hash %>
          <tr>
            <td class='col-8 p-0'>
              <%= info_popover("gene-curation", "score", interp.label, "strong") %>
              <div class='small pb-2'>
                  <%= print_moi_score_gci(assertion.score_string_gci) %>
                  <%= print_moi_score_sop5(assertion.score_string_sop5) %>
                  <%= print_moi_score(assertion.score_string) %>
              </div>
              <div class='small pb-2'>
              <% if assertion.score_string_gci.present? %>
				<% if assertion.jsonMessageVersion == "GCI.6" %>
					<%= print_animal_mode(assertion.jsonMessageVersion, assertion.score_string_gci, false) %>
				<% else %>
					<%= print_animal_mode(assertion.jsonMessageVersion, assertion.score_string_gci, false) %>
				<% end %>
			<% elsif assertion.score_string_sop5.present? %>
				<%= print_animal_mode('SOP5', assertion.score_string_sop5, false) %>
			<% else %>
				<%= print_animal_mode('SOP4', assertion.score_string, false) %>
			<% end %>
			</div>
            </td>
            <td class='col-2 text-center p-0'>
              <% if assertion.respond_to?(:date) %>
                <%= mdy_date(assertion.date) %>
              <% else %>
                <%= assertion.first.mdy_date %>
              <% end %>
            </td>
            <td class='col-2 text-center p-0'>
              <%= link_to gene_disease_assertions_path+"/"+assertion.perm_id, :method => :get, :class => "btn btn-xs btn-success  mb-1"  do %>
                View report
              <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>

      </td>
    </tr>
  </tbody>
